.about-me-stack{
    color: $white;
    span{
      font-size: 15px;
    }
}

/* The connect with me area in the welcome screen */
.connect-with-me {
  overflow: hidden;
  text-align: center;
  margin-top: 3px;
  margin-left: -46px;
  margin-right: auto;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

#no-connect-with-me-before:before,
#no-connect-with-me-after:after{
  display: none;
}

/* The connect with me area in the welcome screen */
.connect-with-me:before,
.connect-with-me:after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 85px;
  background-color: white;
  right: -1.5rem;
}
/* The connect with me area in the welcome screen */
.connect-with-me:before {
  right: 1.5rem;
  margin-left: auto;
}
/* The connect with me area in the welcome screen */
.connect-wth-me:after {
  left: -1.5em;
  margin-right: auto;
}

.section{
  height: 100vh;
  #recent-work{
    height: 120vh;  
  }
}

// The contact form seciton
#contact-section{
  // margin-top: 50rem;
}

// About me area
#about-me{
  display: grid;
  justify-content: center;
  margin-top: -13rem;
}

// My bio
.about-area{
    width: 65rem;
    display: flex;
    justify-self: center;
    p{
      font-size: 18px;
    }
}

.me-area{
    display: flex;
    justify-content: center;
}

// The list of my stack
.stack-area{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38rem;
}

#title-mystack{
  display: grid;
  justify-content: center;
}

.stack-titles{
  display: inline-flex;
  gap: 3rem;
}

.stack-specific{
  display: grid;
  gap: 1rem;
}

#framework{
  margin-left: 7rem;
  margin-top: -8rem;
}

#frontend{
  margin-left: 14.5rem;
  margin-top: -28rem;
}

#database{
  margin-left: 21rem;
  margin-top: -15.6rem;
}

#other{
  margin-left: 28rem;
  margin-top: -7rem;
}

// The icons for my stacks
.devicons{
  height: 3rem;
  width: 3rem;
}
  