
// The web developer area in the banner
.banner-title-area{
    left: 28rem;
}

/* The banner section */
.banner{
    position: relative;
    .banner-name, 
    .banner-title,
    .banner-section-list
    {
        position: absolute;
    }
}

// My name in the banner section
.banner-name{
  top: -35rem;
  left: 7rem;
  font-size: 24px;
  h1{
    color: #F16A53;
    text-transform: uppercase;
  }
}
  
.banner-title{
  text-shadow: 3px 3px black;
  margin-left: 40rem;
  text-align: end;
  font-size: 5rem;
  margin-top: -1rem;
  text-transform: uppercase;
  font-weight: lighter;
}

#web-title{
  margin-top: -11rem;
  margin-left: 51rem;
}
#developer-title{
  margin-top: -6rem;
  margin-left: 34rem;
}

#web-background{
  margin-left: 55rem;
  margin-top: -27rem;
}

#web-shogo{
  margin-left: 50rem;
  margin-top: -47rem;
}

// The page sections
.banner-section-list{
  right: 15px;
  top: 12rem;
  font-size: 20px;
  text-align: right;
}

@media screen and (max-width: 600px) {
  // The pages content
  .banner-section-list{
    right: 15px;
    top: 38%;
    font-size: 13px;
  }
}