
.title-flex{
    display: flex;
}

.section-title{
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 5rem;
}

.name-title{
  color: #13212D;
  overflow: hidden;
}

.title-color{
  color: $white;
}
  
  