// Colors
$white: #FFFF;
$orange: #FF6B50;
$blue: #5C73B7;

@font-face {
  font-family: Aaron;
  src: url(assets/font/Aaron-Regular.otf);
}


body{
  background: rgb(28,42,61);
  background: -moz-linear-gradient(106deg, rgba(28,42,61,1) 34%, rgba(62,31,40,1) 73%);
  background: -webkit-linear-gradient(106deg, rgba(28,42,61,1) 34%, rgba(62,31,40,1) 73%);
  background: linear-gradient(106deg, rgba(28,42,61,1) 34%, rgba(62,31,40,1) 73%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c2a3d",endColorstr="#3e1f28",GradientType=1);
  margin: 0 auto;
  color: $white;
  font-family: Aaron;
}

/* The app itself */
.App{
  overflow-y: hidden;
}

// Component Scss
@import 'components/Banner.scss';
@import 'components/Navbar.scss';

// Pages Scss
@import 'shared/About.scss';
@import 'shared/ContactForm.scss';
@import 'shared/ProjectList.scss';
@import 'shared/Projects.scss';


/* The banner section */
.banner{
  position: relative;
  .banner-name, 
  .banner-title,
  .banner-section-list
  {
      position: absolute;
  }
}

// My name in the banner section
.banner-name{
  top: -35rem;
  left: 7rem;
  font-size: 24px;
  h1{
    color: #F16A53;
    text-transform: uppercase;
  }
}

// The web developer area in the banner
.banner-title-area{
  left: 28rem;
}

.banner-title{
  text-shadow: 3px 3px black;
  margin-left: 40rem;
  text-align: end;
  font-size: 5rem;
  margin-top: -1rem;
  text-transform: uppercase;
  font-weight: lighter;
}

#web-title{
  margin-top: -11rem;
  margin-left: 51rem;
}
#developer-title{
  margin-top: -6rem;
  margin-left: 34rem;
}



#web-background{
  margin-left: 55rem;
  margin-top: -27rem;
}

#web-shogo{
  margin-left: 50rem;
  margin-top: -47rem;
}

// The page sections
.banner-section-list{
  right: 15px;
  top: 12rem;
  font-size: 20px;
}


.title-flex{
  display: flex;
}

#decrease-margin-top{
  
}

.section-title{
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 5rem;
}

.name-title{
  color: #13212D;
  overflow: hidden;
}

.title-color{
  color: $white;
}

.me-area{
  display: flex;
  justify-content: center;
}

// The list of my stack
.stack-area{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38rem;
}

#title-mystack{
  display: grid;
  justify-content: center;
}

.stack-titles{
  display: inline-flex;
  gap: 3rem;
}

.stack-specific{
  display: grid;
  gap: 1rem;
}

#framework{
  margin-left: 7rem;
  margin-top: -8rem;
}

#frontend{
  margin-left: 14.5rem;
  margin-top: -28rem;
}

#database{
  margin-left: 21rem;
  margin-top: -15.6rem;
}

#other{
  margin-left: 28rem;
  margin-top: -7rem;
}

// The icons for my stacks
.devicons{
  height: 3rem;
  width: 3rem;
}

// The lineup of projects
.projects{
  display: flex;
  gap: 10rem;
  justify-content: center;
}

// The container that holds the projects
.project-container{
  contain: content;
  width: 30rem;
}

// The img size in projects 
.project-container-img{
  position: relative;
  width: 25rem;
  height: 30rem;
}

// The container that holds the projects details
.project-detail-container{
  position: absolute;
  contain: content;
  width: 23rem;
  height: 2rem;
  padding: 0rem 1rem 1rem;
  top: 27rem;
  transition: all .7s ease-out;
  overflow: hidden;
  backdrop-filter: blur(8px);
  p, span{
    opacity: 1.0;
  }
}

// When hovering over the details container, it exapnds upwards
.project-detail-container:hover{
  top: 0rem;
  height: 29rem;
}

.projects-summary{
  margin-top: 5rem;
}

.contact-form{
  display: grid;
  gap: 1rem;
}

#email{
  width: 15rem;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}